<h1>AccountSetting</h1>
<p>Account settings contain all settings related to a user account. They are stored as a key-value pair.</p>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/AccountSetting.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/AccountSetting.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/AccountSetting.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/AccountSetting.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>key</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>value</td><td>Object</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>Activity</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Activity.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Activity.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Activity.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Activity.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>commentText</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>contentStyle</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>createTimeInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>dataSourceDisplayName</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>dataSourceId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>documentFollowedByAdditionalProperty</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>documentFollowedByCategory</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>documentFollowedDirectly</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>documentId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>documentLanguageVersionId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>documentLanguageVersionLanguageKey</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>documentLanguageVersionTitle</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>documentLanguageVersionVersion</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageKey</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>messageType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>notificationStatus</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>personAccountId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>personAccountLogin</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>personFirstName</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>personLastName</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>receiverAcountId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>receiverEmail</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>receiverFirstName</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>receiverLastName</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>receiverLogin</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>taskAssignee</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>taskDescription</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>taskDueDate</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>taskId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>taskSnap</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>taskStatus</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>AdditionalProperty</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/AdditionalProperty.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/AdditionalProperty.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/AdditionalProperty.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/AdditionalProperty.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The identifier of the object.</em></td><td></td><td></td></tr>
    <tr><td>name</td><td>String</td><td>1/255</td><td>Yes/Yes</td></tr>
    <tr><td>description</td><td>String</td><td>0/4000</td><td>Yes/Yes</td></tr>
    <tr><td>following</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>Indicates, if the current user follows the additional property in the specified language. Requires the parameter &ldquo;loadFollowingLanguageKey&rdquo; when loading the additional property.</em></td><td></td><td></td></tr>
    <tr><td>propertyType</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The type of the additional property.</em></td><td></td><td></td></tr>
    <tr><td>validBeginInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>Unix time stamp in seconds when the additional property will be valid.</em></td><td></td><td></td></tr>
    <tr><td>validEndInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>Unix time stamp in seconds when the additional property will not be valid anymore.</em></td><td></td><td></td></tr>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>Address</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Address.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Address.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Address.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Address.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>city</td><td>String</td><td>0/255</td><td>No/No</td></tr>
    <tr><td>country</td><td>String</td><td>0/255</td><td>No/No</td></tr>
    <tr><td>houseNumber</td><td>String</td><td>0/255</td><td>No/No</td></tr>
    <tr><td>postalCode</td><td>String</td><td>0/255</td><td>No/No</td></tr>
    <tr><td>street</td><td>String</td><td>0/255</td><td>No/No</td></tr>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>imported</td><td>Boolean</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>Aggregation</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Aggregation.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Aggregation.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Aggregation.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Aggregation.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>buckets</td><td>Map&lt;String, Number&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>A key-value list containing the aggregation bucket.</em></td><td></td><td></td></tr>
    <tr><td>indexField</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The index field that was aggregated.</em></td><td></td><td></td></tr>
  </tbody>
</table>
<h1>Attachment</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Attachment.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Attachment.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Attachment.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Attachment.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>casId</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>casIdImgLarge</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>casIdImgSmall</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>casIdPdf</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>casIdThumbnail</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>createTimeInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>displayName</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>fileSize</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>fileSizeImgLarge</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>fileSizeImgSmall</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>fileSizePdf</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>fileSizeThumbnail</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>mimeType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>name</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>status</td><td>Number</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>BatchActionAdditionalData</h1>
<p>The BatchActionAdditionalData is the class that is used to execute batch actions on documents. Each property of the class can contain elements that the batch process can update.</p>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/BatchActionAdditionalData.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/BatchActionAdditionalData.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/BatchActionAdditionalData.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/BatchActionAdditionalData.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>additionalProperties</td><td>Array&lt;AdditionalProperties&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The list of additional properties a document should get.</em></td><td></td><td></td></tr>
    <tr><td>archivedBeginInSecondsRequest</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The start time stamp (Unix Time Stamp) when the document will be archived.</em></td><td></td><td></td></tr>
    <tr><td>categoryIds</td><td>Array&lt;Number&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The list of category ids the document should be assigned to.</em></td><td></td><td></td></tr>
  </tbody>
</table>
<h1>Category</h1>
<p>The category class is used to manage document categories. Categories can be assigned to documents and persons can follow categories.<br />
Implemented since version: 1.0</p>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Category.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Category.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Category.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Category.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The identifier of the object.</em></td><td></td><td></td></tr>
    <tr><td>name</td><td>String</td><td>1/255</td><td>Yes/Yes</td></tr>
    <tr><td></td><td colspan="3"><em>The name of the category.</em></td><td></td><td></td></tr>
    <tr><td>description</td><td>String</td><td>0/4000</td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The description of the category.</em></td><td></td><td></td></tr>
    <tr><td>typeId</td><td>String</td><td> </td><td>Yes/Yes</td></tr>
    <tr><td></td><td colspan="3"><em>The id of the category type to which this category belongs to</em></td><td></td><td></td></tr>
    <tr><td>typePersonal</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>True, if the category type, to which this category belongs to, is a personal category type.</em></td><td></td><td></td></tr>
    <tr><td>following</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>Indicates, if the current user follows the category in the specified language. Requires the parameter &ldquo;loadFollowingLanguageKey&rdquo; when loading the category.</em></td><td></td><td></td></tr>
    <tr><td>usageCount</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>Number, how many times the category is used. Requires the &ldquo;loadUsage&rdquo; parameter when loading the category.</em></td><td></td><td></td></tr>
    <tr><td>quick</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>A quick category is currently only represented by the &ldquo;Mark as favourite&rdquo; (the little star) in the user interface.</em></td><td></td><td></td></tr>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>casId</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>casIdThumbnail</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>fileSize</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>fileSizeThumbnail</td><td>Number</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>CategoryType</h1>
<p>The category type class is used to manage categories types. Category types are used to group categories together.<br />
Implemented since version: 1.0</p>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/CategoryType.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/CategoryType.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/CategoryType.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/CategoryType.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The identifier of the object.</em></td><td></td><td></td></tr>
    <tr><td>name</td><td>String</td><td>1/255</td><td>Yes/Yes</td></tr>
    <tr><td></td><td colspan="3"><em>The name of the category type.</em></td><td></td><td></td></tr>
    <tr><td>description</td><td>String</td><td>0/4000</td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The description of the category type.</em></td><td></td><td></td></tr>
    <tr><td>quick</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>A quick category type is a special category type.</em></td><td></td><td></td></tr>
    <tr><td></td><td colspan="3"><strong>Note</strong>: <em>Currently, the system only supports one quick category type and it is handled by the system and cannot be updated or removed.</em></td><td></td><td></td></tr>
    <tr><td>personal</td><td>Boolean</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>Client</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Client.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Client.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Client.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Client.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The identifier of the object.</em></td><td></td><td></td></tr>
    <tr><td>name</td><td>String</td><td>1/255</td><td>Yes/Yes</td></tr>
    <tr><td></td><td colspan="3"><em>The name of the Client.</em></td><td></td><td></td></tr>
    <tr><td>clientPreferences</td><td>PreferenceMapContainer</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>A PreferenceMapContainer containing all the preferences of a client.</em></td><td></td><td></td></tr>
    <tr><td>skinColourButton</td><td>String</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>This property defines the button color.</em></td><td></td><td></td></tr>
    <tr><td>skinColourLabel</td><td>String</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>This property defines the label color.</em></td><td></td><td></td></tr>
    <tr><td>skinColourNotification</td><td>String</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>This property defines the Notification color.</em></td><td></td><td></td></tr>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>casId</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>casIdImgLarge</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>casIdImgSmall</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>casIdThumbnail</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>fileSize</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>fileSizeImgLarge</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>fileSizeImgSmall</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>fileSizeThumbnail</td><td>Number</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>Comment</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Comment.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Comment.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Comment.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Comment.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The identifier of the object.</em></td><td></td><td></td></tr>
    <tr><td>text</td><td>String</td><td>0/4000</td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The text of the comment.</em></td><td></td><td></td></tr>
    <tr><td>documentLanguageVersionId</td><td>Number</td><td> </td><td>Yes/Yes</td></tr>
    <tr><td></td><td colspan="3"><em>The documentLanguageVersionId of the document to which the comment is linked to.</em></td><td></td><td></td></tr>
    <tr><td>person</td><td>Person</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The person who created the comment.</em></td><td></td><td></td></tr>
    <tr><td>documentId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The documentId of the document to which the comment is linked to.</em></td><td></td><td></td></tr>
    <tr><td>mentionedAccountIds</td><td>Array&lt;Number&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>documentLanguageVersionLanguageKey</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>documentLanguageVersionTitle</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>documentLanguageVersionVersion</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>createTimeInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>textHtml</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>CommunicationData</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/CommunicationData.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/CommunicationData.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/CommunicationData.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/CommunicationData.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>description</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>entityTypeId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>imported</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>usedForNotification</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>value</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>ContactImage</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/ContactImage.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/ContactImage.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/ContactImage.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/ContactImage.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>name</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>casId</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>casIdThumbnail</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>fileSize</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>fileSizeThumbnail</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>createTimeInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>mimeType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>externalImgUrl</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>internal</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>active</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>external</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>gravatar</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>google</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>cobot</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>reference</td><td>Object</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>Credential</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Credential.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Credential.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Credential.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Credential.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The identifier of the object.</em></td><td></td><td></td></tr>
    <tr><td>login</td><td>String</td><td>1/255</td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The user's login.</em></td><td></td><td></td></tr>
    <tr><td></td><td colspan="3"><strong>Note</strong>: <em>If login is not set, subscriptionEmail will be used instead.</em></td><td></td><td></td></tr>
    <tr><td>password</td><td>String</td><td>1/255</td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The user's password.</em></td><td></td><td></td></tr>
    <tr><td></td><td colspan="3"><strong>Note</strong>: <em>The password is RequiredOnCreate if updatePassword==true.</em></td><td></td><td></td></tr>
    <tr><td>subscriptionEmail</td><td>String</td><td>3/255</td><td>Yes/Yes</td></tr>
    <tr><td></td><td colspan="3"><em>The user's email address.</em></td><td></td><td></td></tr>
    <tr><td>updatePassword</td><td>Boolean</td><td>3/255</td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Update the user's password.</em></td><td></td><td></td></tr>
    <tr><td></td><td colspan="3"><strong>Note</strong>: <em>If true, no invitation email will be sent.</em></td><td></td><td></td></tr>
    <tr><td>dataSources</td><td>Array&lt;Instance&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The list of data sources this credential has access to.</em></td><td></td><td></td></tr>
  </tbody>
</table>
<h1>CredentialWithInvitationText</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/CredentialWithInvitationText.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/CredentialWithInvitationText.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/CredentialWithInvitationText.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/CredentialWithInvitationText.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>invitationText</td><td>Number</td><td>1/4000</td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The invitation text used. This is used when a person is invited.</em></td><td></td><td></td></tr>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The identifier of the object.</em></td><td></td><td></td></tr>
    <tr><td>login</td><td>String</td><td>1/255</td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The user's login.</em></td><td></td><td></td></tr>
    <tr><td></td><td colspan="3"><strong>Note</strong>: <em>If login is not set, subscriptionEmail will be used instead.</em></td><td></td><td></td></tr>
    <tr><td>password</td><td>String</td><td>1/255</td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The user's password.</em></td><td></td><td></td></tr>
    <tr><td></td><td colspan="3"><strong>Note</strong>: <em>The password is RequiredOnCreate if updatePassword==true.</em></td><td></td><td></td></tr>
    <tr><td>subscriptionEmail</td><td>String</td><td>3/255</td><td>Yes/Yes</td></tr>
    <tr><td></td><td colspan="3"><em>The user's email address.</em></td><td></td><td></td></tr>
    <tr><td>updatePassword</td><td>Boolean</td><td>3/255</td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Update the user's password.</em></td><td></td><td></td></tr>
    <tr><td></td><td colspan="3"><strong>Note</strong>: <em>If true, no invitation email will be sent.</em></td><td></td><td></td></tr>
    <tr><td>dataSources</td><td>Array&lt;Instance&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The list of data sources this credential has access to.</em></td><td></td><td></td></tr>
  </tbody>
</table>
<h1>Document</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Document.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Document.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Document.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Document.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>additionalProperties</td><td>Array&lt;AdditionalProperties&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>attachments</td><td>Array&lt;Document&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>categories</td><td>Array&lt;Category&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>comments</td><td>Array&lt;Comment&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>documentAttachments</td><td>Array&lt;Attachment&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>firstReadTimesInSeconds</td><td>Map&lt;String, Number&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>A key-value list containing the first read time stamps in seconds (Unix time stamp).</em></td><td></td><td></td></tr>
    <tr><td>followers</td><td>Array&lt;Person&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>languageAttachments</td><td>Array&lt;Attachment&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>lastReadTimesInSeconds</td><td>Map&lt;String, Number&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>A key-value list containing the last read time stamps in seconds (Unix time stamp).</em></td><td></td><td></td></tr>
    <tr><td>lastWriteTimesInSeconds</td><td>Map&lt;String, Number&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>A key-value list containing the last write time stamps in seconds (Unix time stamp).</em></td><td></td><td></td></tr>
    <tr><td>markedAsHelpfulBy</td><td>Array&lt;Person&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>relatedDocumentIds</td><td>Array&lt;Number&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>responsibles</td><td>Array&lt;Person&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>roleRights</td><td>Array&lt;RoleRight&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>archived</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>archivedBeginInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>bio</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>createTimeInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>editorType</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>landscape</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionAbstract</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionCasId</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionCasIdPdf</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionCasIdThumbnail</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionCasMd5</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionCreateTimeInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionCurrentlyInProcessing</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionFileSize</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionFileSizePdf</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionFileSizeThumbnail</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionLanguageId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionLanguageKey</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionLastChangeInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionMimeType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionReady</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionReviewed</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionReviewRequested</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionStatus</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionTitle</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionValidBeginInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionValidEndInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionVersion</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>mentionedInCommentUnread</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>removed</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>removeTimeInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>reviewRight</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>reviewUntilInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>roleRelationType</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>snap</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>successorId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>sumRating</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>template</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>valid</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>validBeginInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>validEndInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>DocumentChangeLog</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/DocumentChangeLog.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/DocumentChangeLog.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/DocumentChangeLog.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/DocumentChangeLog.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>action</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>changeDateInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>dlvAbstract</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>dlvAttachment</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>dlvExtensionValue</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>dlvMainFile</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>dlvPublished</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>dlvReviewRequestDeclined</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>dlvReviewRequested</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>dlvReviewRequestGranted</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>dlvReviewUnrequested</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>dlvTitle</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>dlvValidBegin</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>dlvValidEnd</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docAdditionalProperty</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docArchivedBegin</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docArchivedFalse</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docArchivedTrue</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docCategory</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docLandscapeFalse</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docLandscapeTrue</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docLanguageRemoved</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docPermission</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docResponsible</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docReviewUntil</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docTrashedFalse</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docTrashedTrue</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>documentId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>docValidBegin</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docValidEnd</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docValidFalse</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docValidTrue</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>docVersionRemoved</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionLanguageId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionLanguageKey</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionVersion</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>person</td><td>Person</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>DocumentChangeLogMap</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/DocumentChangeLogMap.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/DocumentChangeLogMap.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/DocumentChangeLogMap.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/DocumentChangeLogMap.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>map</td><td>Map&lt;Number, DocumentChangeLogs&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The document change log map.</em></td><td></td><td></td></tr>
    <tr><td>totalHits</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The number of hits.</em></td><td></td><td></td></tr>
  </tbody>
</table>
<h1>DocumentChangeLogs</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/DocumentChangeLogs.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/DocumentChangeLogs.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/DocumentChangeLogs.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/DocumentChangeLogs.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>documentChangeLog</td><td>Array&lt;DocumentChangeLog&gt;</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>DocumentClipBoardEntry</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/DocumentClipBoardEntry.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/DocumentClipBoardEntry.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/DocumentClipBoardEntry.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/DocumentClipBoardEntry.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>languageVersionLanguageId</td><td>Number</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>DocumentDuplicate</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/DocumentDuplicate.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/DocumentDuplicate.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/DocumentDuplicate.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/DocumentDuplicate.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>documents</td><td>Array&lt;Document&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>tempFileDescriptors</td><td>Array&lt;TempFileDescriptor&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>originId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>targetId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>contextToken</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>DocumentForPdfConversion</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/DocumentForPdfConversion.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/DocumentForPdfConversion.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/DocumentForPdfConversion.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/DocumentForPdfConversion.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>document</td><td>Document</td><td> </td><td>No/No</td></tr>
    <tr><td>mainFile</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>DocumentLock</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/DocumentLock.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/DocumentLock.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/DocumentLock.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/DocumentLock.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>documentId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>lockedByMyself</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>lockedForMe</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>lockTimestampInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>person</td><td>Person</td><td> </td><td>No/No</td></tr>
    <tr><td>previousAccountId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>sessionId</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>ExtensionValue</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/ExtensionValue.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/ExtensionValue.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/ExtensionValue.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/ExtensionValue.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>key</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>type</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>value</td><td>Object</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>Highlight</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Highlight.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Highlight.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Highlight.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Highlight.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>fragments</td><td>Array&lt;String&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>indexField</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>Instance</h1>
<p>The Instance class represents the a set of data of a matterial environment related to an instance owner. The term used in the matterial SaaS environment is Instance whereas in some areas of the API the term DataSource is used. A user can be linked to multiple Instances.</p>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Instance.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Instance.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Instance.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Instance.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The identifier of the object.</em></td><td></td><td></td></tr>
    <tr><td>name</td><td>String</td><td>1/255</td><td>Yes/Yes</td></tr>
    <tr><td></td><td colspan="3"><em>The name of the data source.</em></td><td></td><td></td></tr>
    <tr><td>displayName</td><td>String</td><td>0/255</td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The display name of the data source.</em></td><td></td><td></td></tr>
    <tr><td>active</td><td>String</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Indicates if the data source is active</em></td><td></td><td></td></tr>
    <tr><td>reference</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>Language</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Language.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Language.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Language.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Language.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The identifier of the object.</em></td><td></td><td></td></tr>
    <tr><td>name</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The name of the language.</em></td><td></td><td></td></tr>
    <tr><td>i18nKey</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The i18n key of the language.</em></td><td></td><td></td></tr>
    <tr><td>active</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>True, if the language is active.</em></td><td></td><td></td></tr>
    <tr><td>prio</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>Priority of the language.</em></td><td></td><td></td></tr>
  </tbody>
</table>
<h1>LoginData</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/LoginData.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/LoginData.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/LoginData.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/LoginData.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>sessionId</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The current session id.</em></td><td></td><td></td></tr>
    <tr><td>pwdMustChange</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>True, if the user logged in by using the &ldquo;Forgot password&rdquo; link.</em></td><td></td><td></td></tr>
    <tr><td>externallyAuthenticated</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>Is true, if the user was authenticated with en external service (OAuth, LDAP, etc).</em></td><td></td><td></td></tr>
    <tr><td>currentDataSource</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The current instance.</em></td><td></td><td></td></tr>
    <tr><td>favouriteDataSource</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The favourite instance.</em></td><td></td><td></td></tr>
    <tr><td>permissions</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The current user's permissions.</em></td><td></td><td></td></tr>
    <tr><td>person</td><td>Person</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>This property represents the current logged in person.</em></td><td></td><td></td></tr>
    <tr><td>client</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The current user's client.</em></td><td></td><td></td></tr>
    <tr><td>availableLanguages</td><td>Array&lt;Language&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>availableDataSources</td><td>Array&lt;Instance&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>All instances the current logged in user has access to.</em></td><td></td><td></td></tr>
    <tr><td>accountSettings</td><td>Map&lt;String, object&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>A key-value list with all account settings.</em></td><td></td><td></td></tr>
    <tr><td>clientPreferences</td><td>Map&lt;String, object&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>A key-value list with all client preferences.</em></td><td></td><td></td></tr>
  </tbody>
</table>
<h1>PasswordContainer</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/PasswordContainer.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/PasswordContainer.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/PasswordContainer.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/PasswordContainer.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>passwordCurrent</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>passwordNew</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>passwordNew2</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>PreferenceMapContainer</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/PreferenceMapContainer.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/PreferenceMapContainer.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/PreferenceMapContainer.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/PreferenceMapContainer.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>preferenceDescriptions</td><td>Map&lt;String, object&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>A key-value list containing the preference descriptions. The key is the same as in Preferences</em></td><td></td><td></td></tr>
    <tr><td>preferences</td><td>Map&lt;String, object&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>A key-value list containing the preferences. The key is the same as in PreferenceDescriptions.</em></td><td></td><td></td></tr>
  </tbody>
</table>
<h1>Permissions</h1>
<p>The permissions class is used for Persons an roles.<br />
Implemented since version: 1.0</p>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Permissions.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Permissions.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Permissions.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Permissions.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>administrateAll</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Administrate all areas of the application.</em></td><td></td><td></td></tr>
    <tr><td>editPerson</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Edit persons.</em></td><td></td><td></td></tr>
    <tr><td>editDocument</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Create and edit documents.</em></td><td></td><td></td></tr>
    <tr><td>editDocumentTemplate</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Create and edit document templates.</em></td><td></td><td></td></tr>
    <tr><td>editRole</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Create and edit roles and groups.</em></td><td></td><td></td></tr>
    <tr><td>editCategory</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Create and edit categories.</em></td><td></td><td></td></tr>
    <tr><td>editTask</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Create and edit tasks.</em></td><td></td><td></td></tr>
    <tr><td>comment</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Create and edit my comments.</em></td><td></td><td></td></tr>
    <tr><td>viewArchive</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>View archived documents</em></td><td></td><td></td></tr>
    <tr><td>viewStatistic</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Not used yet.</em></td><td></td><td></td></tr>
    <tr><td>showTrash</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Show the Administrator's trash showing trashed documents of all users.</em></td><td></td><td></td></tr>
    <tr><td>editGallery</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Not used yet.</em></td><td></td><td></td></tr>
    <tr><td>immediateReview</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Ability to save and review a document in one step.</em></td><td></td><td></td></tr>
    <tr><td>publishUnreviewed</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Can publish documents immediately without having to request a review.</em></td><td></td><td></td></tr>
    <tr><td>editAdditionalProperty</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Create and edit additional properties.</em></td><td></td><td></td></tr>
    <tr><td>editGlobalSavedSearch</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Create and edit global saved searches.</em></td><td></td><td></td></tr>
    <tr><td>createSnap</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>Create a Knowledge Flash (a Snap).</em></td><td></td><td></td></tr>
    <tr><td>bitmask</td><td>Number</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>Person</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Person.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Person.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Person.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Person.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>addresses</td><td>Array&lt;Address&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>clients</td><td>Array&lt;Client&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>communicationData</td><td>Array&lt;CommunicationData&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>contactImages</td><td>Array&lt;ContactImage&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>rolesContent</td><td>Array&lt;Role&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>rolesFunctional</td><td>Array&lt;Role&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>rolesReview</td><td>Array&lt;Role&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>accountCreateTimeInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>accountId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>accountLastLoginInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>accountLogin</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>active</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>bioDocument</td><td>Document</td><td> </td><td>No/No</td></tr>
    <tr><td>birthdayInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>contactId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>contactImage</td><td>ContactImage</td><td> </td><td>No/No</td></tr>
    <tr><td>demo</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>firstName</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>gender</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>instanceOwner</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>lastName</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>partialUpdateActive</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>partialUpdateDemo</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>partialUpdateInstanceOwner</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>partialUpdateLastLogin</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>partialUpdateRoles</td><td>Boolean</td><td> </td><td>No/No</td></tr>
    <tr><td>permissions</td><td>Permissions</td><td> </td><td>No/No</td></tr>
    <tr><td>position</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>rolePersonal</td><td>Role</td><td> </td><td>No/No</td></tr>
    <tr><td>systemAccount</td><td>Boolean</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>Role</h1>
<p>The role class is used to manage roles. There are four different types of roles: Functional, WorkGroup, Personal and ReviewGroup.<br />
Implemented since version: 1.0</p>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Role.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Role.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Role.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Role.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The identifier of the object.</em></td><td></td><td></td></tr>
    <tr><td>entityTypeId</td><td>Permissions</td><td> </td><td>Yes/Yes</td></tr>
    <tr><td></td><td colspan="3"><em>The type of role to create.</em></td><td></td><td></td></tr>
    <tr><td></td><td colspan="3"><strong>Note</strong>: <em>The system handles WorkGroups, PersonalRoles, ReviewGroups and FunctionalRoles as roles.</em></td><td></td><td></td></tr>
    <tr><td>name</td><td>String</td><td>1/255</td><td>Yes/Yes</td></tr>
    <tr><td></td><td colspan="3"><em>The name of the role.</em></td><td></td><td></td></tr>
    <tr><td>description</td><td>String</td><td>0/4000</td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The description of the role.</em></td><td></td><td></td></tr>
    <tr><td>permissions</td><td>Permissions</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The permissions of the role.</em></td><td></td><td></td></tr>
    <tr><td>initiallyAssignedToAccount</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>If true, the role will automatically be assigned to a new account.</em></td><td></td><td></td></tr>
    <tr><td>initiallyAssignedTypeToDocument</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>If true, the role will automatically be assigned to a new document.</em></td><td></td><td></td></tr>
    <tr><td>personalRolePerson</td><td>Person</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>If the role is of type PersonalRole, this property is set with the person.</em></td><td></td><td></td></tr>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>bitmask</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>clientId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>notRemovable</td><td>Boolean</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>RoleRight</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/RoleRight.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/RoleRight.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/RoleRight.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/RoleRight.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>role</td><td>Role</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The role this role right belongs to.</em></td><td></td><td></td></tr>
    <tr><td>type</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>Type of the role right:  READ=1, EDIT=2</em></td><td></td><td></td></tr>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>SavedSearch</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/SavedSearch.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/SavedSearch.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/SavedSearch.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/SavedSearch.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>params</td><td>Array&lt;SavedSearchParameter&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>roleIds</td><td>Array&lt;Number&gt;</td><td> </td><td>No/No</td></tr>
    <tr><td>dashboardPrio</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>dashboardStyle</td><td>DashboardStyles</td><td> </td><td>No/No</td></tr>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>name</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>personal</td><td>Boolean</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>SavedSearchParameter</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/SavedSearchParameter.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/SavedSearchParameter.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/SavedSearchParameter.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/SavedSearchParameter.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>key</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>value</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>SearchAutocompleteSuggest</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/SearchAutocompleteSuggest.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/SearchAutocompleteSuggest.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/SearchAutocompleteSuggest.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/SearchAutocompleteSuggest.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>label</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>object</td><td>Object</td><td> </td><td>No/No</td></tr>
    <tr><td>value</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>Task</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/Task.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/Task.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/Task.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/Task.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The identifier of the object.</em></td><td></td><td></td></tr>
    <tr><td>description</td><td>String</td><td>1/255</td><td>Yes/Yes</td></tr>
    <tr><td></td><td colspan="3"><em>The description of the task.</em></td><td></td><td></td></tr>
    <tr><td>assignedRole</td><td>Role</td><td> </td><td>Yes/Yes</td></tr>
    <tr><td></td><td colspan="3"><em>The role assigned to the task.</em></td><td></td><td></td></tr>
    <tr><td></td><td colspan="3"><strong>Note</strong>: <em>This can be either a person or a group role.</em></td><td></td><td></td></tr>
    <tr><td>documentId</td><td>Number</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The document assigned to the task.</em></td><td></td><td></td></tr>
    <tr><td></td><td colspan="3"><strong>Note</strong>: <em>A task can be created without being assigned to a document but the general approach is to always assign a document to a task. Make sure, the correct documentLanguageVersionId is set.</em></td><td></td><td></td></tr>
    <tr><td>documentLanguageVersionId</td><td>Number</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The document language version assigned to the task.</em></td><td></td><td></td></tr>
    <tr><td></td><td colspan="3"><strong>Note</strong>: <em>When a task is assigned to a document, it has to be assigned to a specific language version. The documentLanguageVersionId must belong to the documentId specified.</em></td><td></td><td></td></tr>
    <tr><td>taskStatusId</td><td>Number</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The id of the task status.</em></td><td></td><td></td></tr>
    <tr><td>snap</td><td>Boolean</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>True if the task was created by a Snap document (Knowledge Flash).</em></td><td></td><td></td></tr>
    <tr><td>acceptedAccount</td><td>Person</td><td> </td><td>Yes/No</td></tr>
    <tr><td></td><td colspan="3"><em>The person which accepts the task. Accepting a task moves the task to the reponsibility of the person.</em></td><td></td><td></td></tr>
    <tr><td>dueDateInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The due date of the task in secoonds (Unix Time Stamp).</em></td><td></td><td></td></tr>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>authorAccount</td><td>Person</td><td> </td><td>No/No</td></tr>
    <tr><td>creationDateInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>documentLanguageVersionLanguageKey</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>documentLanguageVersionTitle</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>documentLanguageVersionVersion</td><td>Number</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>TaskStatus</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/TaskStatus.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/TaskStatus.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/TaskStatus.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/TaskStatus.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The identifier of the object.</em></td><td></td><td></td></tr>
    <tr><td>description</td><td>String</td><td>0/255</td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The description of the object.</em></td><td></td><td></td></tr>
    <tr><td>name</td><td>String</td><td>0/255</td><td>No/No</td></tr>
    <tr><td></td><td colspan="3"><em>The name of the object.</em></td><td></td><td></td></tr>
  </tbody>
</table>
<h1>TempFileDescriptor</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/TempFileDescriptor.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/TempFileDescriptor.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/TempFileDescriptor.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/TempFileDescriptor.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>contextToken</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>displayName</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>fileName</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>fileSize</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>fileToken</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>fileType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>languageKey</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>mimeType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>tempFileName</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
<h1>TrackingItem</h1>
<p><a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-schema/TrackingItem.json" target="_blank">Json Schema</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/json-sample/TrackingItem.json" target="_blank">Json Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/resources/xml-sample/TrackingItem.xml" target="_blank">Xml Example</a><br />
<a href="https://gitlab.com/matterial/matterial-api/-/blob/develop/src/main/java/com/matterial/mtr/api/object/TrackingItem.java" target="_blank">Java</a></p>
<table class="mtr-table">
  <thead>
    <tr><th>Property</th><th>Data type</th><th>Min/Max</th><th>Updateable / Required on create</th></tr>
  </thead>
  <tbody>
    <tr><td>actionId</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>actionType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>appContext</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>appInstance</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>appType</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>changeLog</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>creationDateInSeconds</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>id</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>objectId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>objectRef</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>sessionId</td><td>String</td><td> </td><td>No/No</td></tr>
    <tr><td>userId</td><td>Number</td><td> </td><td>No/No</td></tr>
    <tr><td>jsonType</td><td>String</td><td> </td><td>No/No</td></tr>
  </tbody>
</table>
